.howBourbonMade {
  margin: 0rem 3rem 0rem 3rem;
}

#aTitle1 {
  font-size: 5rem;
  color: rgb(248, 224, 8);
  text-align: center;
  font-family: "Fredoka One";
  line-height: 0.8;
}

#aTitle4 {
  font-size: 3.5rem;
  color: white;
  text-align: center;
  font-family: "Economica";
}

.intro {
  margin: 0rem 0rem 0rem 0rem;
  color: white;
}

#bingredients {
  margin: 0rem 4rem 0rem 2rem;
  color: white;
}

#distilled {
  margin: 0rem 5rem 0rem 0rem;
  color: white;
}

#aged {
  margin: 0rem 3rem 0rem 3.5rem;
  color: white;
}

#charred {
  margin: 0rem 3rem 0rem 2rem;
  color: white;
}

#agedhowlong {
  margin: 0rem 3rem 0rem 4rem;
  color: white;
}

#isblended {
  margin: 0rem 4rem 0rem 2rem;
  color: white;
}

#bottle {
  margin: 0rem 3rem 0rem 3.5rem;
  color: white;
}

.whatIng {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.distill {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
}

.bourbonAge {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
}

.char {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}

.howLong {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
}

.bourbonBlend {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}

.bottleAge {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}

.shortcutLinks {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}

#made {
  padding: 0rem 0rem 2rem 0rem;
}

.stubborn1 {
  margin: 1rem 2rem 0rem 0rem;
}

.stubborn2 {
  margin: 1rem 0rem 0rem 2rem;
}

.stubborn3 {
  margin: 1rem 2rem 0rem 0rem;
}

.stubborn4 {
  margin: 1rem 2rem 3rem 0rem;
}

.pic {
  max-width: 100%;
  max-height: 100%;
}

.text {
  font-size: 20px;
}

p {
  font-size: 20px;
  font-family: "Economica";
  margin: 1rem 2rem 0rem 0rem;
}

.shortcut {
  margin: 0rem 0rem 0rem 10rem;
}

.introPic {
  margin: 0rem 10rem 0rem 1rem;
}

.intro {
  text-align: left;
  margin: 0rem 8rem 0rem 10rem;
}

.help {
  text-align: left;
  color: white;
  margin: 0rem 0rem 7rem 10rem;
  font-family: "Economica";
}